.a{
    background-color: #FFDEAC;
}

.ex-border{
  border: 5px solid black;
  padding: 20px;
  margin: 40px;
  background-color: #FFDEAC;
}

.in-border{
  border: 5px solid black;
  padding: 40px;
}

.main-tittle {
    font-family: Libre bodoni, sans-serif;
    color: black;
    text-align: center;
}

.main-desc {
    font-family: Inter, sans-serif;
    color: gray;
    align-items: center;
    justify-content: center;
}

.tittle {
    font-family: Inter, sans-serif;
    color: black;
}


